*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}


/*HEADER*/
header .header{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    margin-bottom: 4    0px;
}
header div .logo{
    height: 100px;
    width: auto;
    margin: 50px;
}

header .logo img{
    height: 100%;
    width: auto;
}


header .nav li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
    
}
header .nav li a{
    color: whitesmoke;
    text-decoration: none;
    margin-right: auto;
    padding: 8px;
}

header .nav li .selected{
    background-color: rgba(255, 255, 255, 0.705);
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color:red;
}

.header .nav li a:hover{
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    color:red;
}

header .banner-content{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .banner .banner-image{
    
    height: 500px;
    width: 100%;
}

.banner-image img{
    height: 100%;
    width: 100%;
    filter: opacity(40%);
}

header .banner .banner-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.banner-text{
    font-size: 80px;
}

.banner-text h2{
    color: red;
}

.banner-text p{
    width: 80%;
    font-size: 1.2rem;
    margin-top: 30px;
}

.banner-text button{
    margin: 100px 0 0 50px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bolder
}

.banner-text button:hover{
    cursor: pointer;
}

.slide-banner{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50vh;
    padding: 10px;
}

.slide-banner .line{
    background-color: red;
    height: 10px;
    width: 10px;
}

/*SECTION 1*/

.gym-mg{
    height: auto;
    width: 90%;
    margin-top: 100px;
}

.content-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

div .content-1-text{
    width: 45%;
    padding: 40px;
}

.content-1 h2{
    font-size: 40px;
}

.content-1 p{
    padding: 30px;
    font-size: 20px;
}

.content-1-img{
    width: 45%;
    height: 100%;

}

.content-1 img{
    height: 350px;
    width: 100%;
    border-radius: 30px;
}

/*SECTION TRAINERS*/

section .trainers-mg{
    width: 90%;
    height: auto;
}

.trainers-mg h2{
    font-size: 40px;
    text-align: center;
    margin: 100px;
}

.team-trainner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team-trainner img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

/*SECTION TESTIMONIAL*/

.testimonial{
    margin-top: 50px;
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    margin: 100px auto;
}

.testimonial-content{
    width: 45%;
}

.testimonial-content h2{
    font-size: 40px;
}

.testimonio-person{
    font-size: 20px;
}

.testimonial-content span{
    color: yellow;
}

.testimonio{
    padding: 15px;
    font-size: 18px;
}

.testimonial-img{
    width: 45%;
}

.testimonial-img img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

/*SECTION CALCULATOR IMC*/

.calculator-imc{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding: 20px;
}

.calculator-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.calculator-content h2{
    font-size: 30px;
}


.calculator-content p{
    font-size: 15px;
    width: 90%;
    margin-top: 20px;
}

.calculator-form{
    width: 100%;
    height: auto;

    
}

.table-calculator{
    margin: 20px auto;
}

.fila-calculator{
    height: 50px;
}

.cell-calculator{
    width: 350px;
    
}
.cell-calculator input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 15px;

}

.cell-calculator select{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bolder;
}

.cell-calculator button{
    width: 95%;
    height: 45px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.calculator-form button:hover{
    cursor: pointer;
}

.info-imc{
    width: 50%;
}

.table-imc{
    height: 300px;
    width: 90%;
    border: 5px solid white;
    text-align: center;
    margin-left: 50px;
}

.table-imc th{
    font-size: 20px;
    background-color: rgb(0, 0, 28);
    color: red;
    height: 50px;
}

.table-imc td{
    font-size: 18px;
    border: 1px solid white;
    width: 50%;
    color: white;
    background-color: rgb(55, 55, 55);
}

#resultado{
    color: beige;
}

/*FOOTER*/
.footer{
    display: flex;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.footer .company-footer{
    display: flex;
    align-items: center;
    width: 500px;
}

.footer .company-footer img{
    width: 180px;
    height: 100px;
}

.footer .company-footer p{
    width: 50%;
    font-size: 12px;
}

.clases-footer h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.clases-footer li{
    font-size: 14px;
}

.schedule{
    text-align: center;
    padding: 10px;
}

.schedule h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.schedule p{
    font-size: 14px;
    padding: 5px;
}

.social-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-footer img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.social-footer img:hover{
    scale: 1.1;
}


/* PAGE CLASES */

.title-clases{
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.clases-myura{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.clase-gym{
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    align-items: center;
    margin-bottom: 50px;
}

.clase-gym span{
    margin:10px auto;
    font-size: 16px;
}

.img-clase{
    width: 300px;
    height: auto;
    filter: opacity(50%);
}

.clase-gym-content{
    position: relative;
    display: inline-block;
    
}

.clase-gym-content h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.calendar-section{
    width: 90%;
    margin: auto;
}

.title-calendario{
    font-size: 30px;
    text-align: center;
    margin: 50px 0px;
}

.calendar{
    width: 100%;
}

.cell-calendar{
    border: 5px solid rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    background-color: rgb(45, 40, 40);
    border-collapse: collapse;
}
.cell-calendar{
    padding: 0px 5px;
}

.cell-calendar:hover{
    background-color: brown;
}

.reserva-section{
    width: 90%;
    margin: 50px auto;
}

.title-reserva-section{
    font-size: 30px;
    text-align: center;
    margin: 50px auto
}

.sub-title-reserva{
    font-size: 20px;
    margin-left: 20px;
    
}

.form-reserva{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-content{
    width: 50%;
}

.form-content-img{
    width: 50%;
}

.form-reserva-clase{
    padding: 50px;
    
}

.table-reserva-clase{
    width: 100%;
}

.cell-reserva{
    padding: 10px;
    font-size: 18px;
}

.table-reserva-clase input{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    width: 95%;
    border-radius: 10px;
}

.table-reserva-clase select{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
    border-radius: 10px;
}

.form-reserva-img img{
    width: 600px;
    border-radius: 20px;
}

.plan-container{
    width: 95%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}


.plan-gym{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
}

.plan-gym-img{
    width: 400px;
    height: 300px;
}
.plan-gym-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.plan-gym-content p{
    text-align: center;
    margin-top: 15px;
}

.plan-separator{
    width: 90%;
    margin: 15px 0;
}

.plan-gym-content .button{
    width: 100px;
    height: 30px;
    background-color: brown;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.banner-plan{
    width: 100%;
    display: flex;
    justify-content: center;

}

.banner-plan-content{
    padding: 50px;
}

.banner-plan-img{
    width: 100%;
    height: 90%;
}